body{
    background-color: #fbfbfd;
}


ul{
    list-style-type: none;
}

.navbar{
    position: fixed;
    top: 0;
    font-size: 1rem;
    width: 100%;
}
.nav-link{
    margin-left: 15px;
    margin-right: 15px;
    color: #d4d4d4;
}

.nav-link:hover{
    color: #f7f7f7;
}

.navbar-brand{
    margin-left: 2%;
}


.discount{
    background-color: rgb(239, 239, 239);
    text-align:center;
    padding-top: 13px;
    padding-bottom: 2px;
    margin-top: 54px;
}

.top-container{
    text-align: center;
    margin: 50px;
}

.top-container h1{
    margin-top: 50px;
    font-size: 4rem;
}

.top-container h3{
    font-weight: 450;
    margin-bottom: 10px;
}

/* .top-container a{
    border-radius: 30%;
    border: 1px solid grey;
    position: relative;
    top: 10px;
    margin: 10px;
    padding: 10px;
    color: #808080;
    text-decoration: none;
} */






.btn-5g-top {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #a5a5a5;
    font-size: 15px;
    padding: 8px 8px 8px 8px;
    border: solid #a5a5a5 2px;
    text-decoration: none;
    /* margin-top: 50px; */
}




.learn, .buy{
    position: relative;
    font-size: 1.3rem;
    top: 20px;
    margin:0 20px;
    color: #2997ff;
    text-decoration: none;
}





.learn:hover , .buy:hover{
    text-decoration: underline;
}

.top-image{
    
    margin-top: 40px;
    width: 30%;
}



/* MIDDLE SECTION */

.mid-1{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    /* height: 5000px; */
}

.mid-1 h1{
    font-size: 4rem;
}


.mid-1 h3{
    padding-top: 5px;
    font-weight: 450;
}



.btn-5g-mid {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #adadad;
    font-size: 15px;
    background: #000000;
    padding: 8px;
    border: solid #adadad 2px;
    text-decoration: none;
}



.mid-image{
    margin-top: 40px;
    /* padding-bottom: 40px; */
    width: 50%;
}



.mid-2{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 75px;
    margin-bottom: 20px;
}

.mid-2 h1{
    font-size: 4rem;
}


.mid-2 h3{
    padding-top: 5px;
    font-weight: 450;
}

.image-gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: #fbfbfd;
    justify-content: flex-start;
}




.flex-item{
    text-align: center;
    /* border: 1px solid black; */
    margin: 20px 10px;
    background-color: #fbfbfd;
    flex:43%;
}



.item-name{
    font-weight: 600;
    margin-top: 30px;
}

.item-desc{
    font-size: 1.2rem;
    font-weight: 450;
}


.item-image{
    width: 50%;
    margin-top: 30px;
}


.watchblack, .macblack{
    color: white;
    background-color: black;
}

.airpod{
    position: relative;
    bottom: 20px;
    width: 500px;
}





















/* 
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="">TinDog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="" class="nav-link">Download</a></li>
        </ul>
    </div>
</nav> 
*/